<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victorantonio.lavendimia">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroClientesActivity" />
        <activity
            android:name=".ConsultarClientesActivity"
            android:label="@string/title_activity_consultar_clientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaPersonasRecycler"
            android:label="@string/title_activity_lista_personas_recycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroArticulosActivity"
            android:label="@string/title_activity_registro_articulos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsultarArticulosActivity"
            android:label="@string/title_activity_consultar_articulos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaArticulosRecycler"
            android:label="@string/title_activity_lista_articulos_recycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroVentasActivity"
            android:label="@string/title_activity_registro_ventas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TipoAbonosActivity"
            android:label="@string/title_activity_tipo_abonos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>